@import url('./scrollbar.css');
/* Main */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$darker: #212121;

/* MainInterface */
$colors: #03DAC6,
#FCE938,
hsl(354, 86%, 60%),
hsl(234, 96%, 67%),
#20BA56,
#f5a0ff,
#a6ff22,
#7f34f0;


@for $i from 0 to length($colors) {
  .m#{$i} {
    background-color: nth($colors, $i+1) !important;
    color: black !important;
    padding: .15rem .1rem;
    border-bottom: .5rem solid nth($colors, $i+1);
    border-top: .5rem solid nth($colors, $i+1);

    @for $j from $i+1 to length($colors) {
      &.m#{$j} {
        border-bottom: .5rem solid nth($colors, $i+1);

        @for $k from $j+1 to length($colors) {
          &.m#{$k} {
            border-bottom: .5rem solid nth($colors, $i+1);
            border-top: .5rem solid nth($colors, $j+1);
          }
        }
      }
    }
  }

  .th#{$i} {
    background-color: nth($colors, $i+1) !important;
    color: black !important;
    font-weight: bolder !important;
  }

  .cm-m#{$i} {
    color: nth($colors, $i+1) !important;
  }
}

.mainPaper {
  overflow: hidden;
  margin: 1.5*64px 0;
}

.sectionTitle {
  color: black;
  background-color: nth($colors, 1);
  padding: .5rem 0 .5rem 1rem;
}

.CodeMirror {
  font-size: 22px;

  .CodeMirror-scroll {
    padding-top: .5rem;
  }

  .queryEditor & {
    overflow: hidden !important;
    height: auto;
    padding: .5rem 0;
    margin-left: .5rem;
    /*
    pre::after,
    pre::before {
      content: ".*";
      color: #888888;
    }
    */
  }

  #textEditor & {
    padding: .5rem 0;
    height: 300px;
  }
}

#textEditor {
  height: 300px;
  position: relative;
}

.tableContainer {
  height: 300px;
}

.uploadButton {
  border-radius: 50% !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: unset !important;
  min-height: unset !important;
  position: absolute !important;
  z-index: 5000;
  bottom: 2rem;
  right: 2rem;
}

/* AboutInterface */
.appBar {
  background-color: $darker !important;
}

.logo {
  display: block;
  height: 36px;
  margin-left: 1rem;
}

.paperLite {
  transition: all .5s ease-in-out;

  .queryContainer {
    display: flex;
    padding: 0 1rem;
  }

  .CodeMirror {
    font-size: 18px;
  }

  .queryEditor {
    flex: 1;
  }

  .textEditor {
    padding-right: 1rem;

    .CodeMirror {
      height: 150px;
    }

    height: 150px;
  }

  .pagination {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }

  .results {
    padding: 1rem;
    height: 150px;
    overflow-y: scroll;
    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .list {
      width: 100%;
      table-layout: fixed;
      font-family: monospace;
      font-size: 14px;

      .resultRow {
        display: flex;
        align-items: center;

        .resultItem {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}