/* Main */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MainInterface */
$colors: #03DAC6,
#FCE938,
hsl(354, 62%, 58%),
hsl(234, 96%, 67%),
#20BA56,
#f5a0ff,
#a6ff22,
#7f34f0;


@for $i from 0 to length($colors) {
  .m#{$i} {
    background-color: nth($colors, $i+1) !important;
    color: black !important;
    padding: .15rem .1rem;
    border-bottom: .5rem solid nth($colors, $i+1);
    border-top: .5rem solid nth($colors, $i+1);

    @for $j from $i+1 to length($colors) {
      &.m#{$j} {
        border-bottom: .5rem solid nth($colors, $i+1);

        @for $k from $j+1 to length($colors) {
          &.m#{$k} {
            border-bottom: .5rem solid nth($colors, $i+1);
            border-top: .5rem solid nth($colors, $j+1);
          }
        }
      }
    }
  }

  .th#{$i} {
    background-color: nth($colors, $i+1) !important;
    color: black !important;
    font-weight: bolder !important;
  }

  .cm-m#{$i} {
    color: nth($colors, $i+1) !important;
  }
}

.CodeMirror {
  font-size: 22px;

  .CodeMirror-scroll {
    padding-top: .5rem;
  }

  #queryEditor & {
    overflow: hidden !important;
    height: auto;
    padding: .5rem;

    pre::after,
    pre::before {
      content: ".*";
      color: #888888;
    }
  }

  #textEditor & {
    padding: .5rem 0;
    height: 25vh;
  }
}

#textEditor {
  height: 25vh;
  position: relative;
}

.bottomContainer {
  height: 50vh;

  .resultContainer {
    overflow: auto;
  }
}

.logo {
  display: block;
  margin: 1rem auto;
  height: 3rem;
}

.uploadButton {
  border-radius: 50% !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: unset !important;
  min-height: unset !important;
  position: absolute !important;
  z-index: 5000;
  bottom: 2rem;
  right: 2rem;
}

/* AboutInterface */
.versusContainer {
  margin-top: 2rem;
  overflow: hidden;
  .codeContainer {
    display: flex;
    .code {
      flex: 1;
      font-family: consolas;
      font-size: 18px;
      padding: 1rem;
    }
  }
}