@import url("./scrollbar.css");
/* Main */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* MainInterface */
.m0 {
  background-color: #03DAC6 !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #03DAC6;
}

.m0.m1 {
  border-bottom: 0.5rem solid #03DAC6;
}

.m0.m1.m2 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #FCE938;
}

.m0.m1.m3 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #FCE938;
}

.m0.m1.m4 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #FCE938;
}

.m0.m1.m5 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #FCE938;
}

.m0.m1.m6 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #FCE938;
}

.m0.m1.m7 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #FCE938;
}

.m0.m2 {
  border-bottom: 0.5rem solid #03DAC6;
}

.m0.m2.m3 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f14153;
}

.m0.m2.m4 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f14153;
}

.m0.m2.m5 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f14153;
}

.m0.m2.m6 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f14153;
}

.m0.m2.m7 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f14153;
}

.m0.m3 {
  border-bottom: 0.5rem solid #03DAC6;
}

.m0.m3.m4 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #5a6afc;
}

.m0.m3.m5 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #5a6afc;
}

.m0.m3.m6 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #5a6afc;
}

.m0.m3.m7 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #5a6afc;
}

.m0.m4 {
  border-bottom: 0.5rem solid #03DAC6;
}

.m0.m4.m5 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #20BA56;
}

.m0.m4.m6 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #20BA56;
}

.m0.m4.m7 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #20BA56;
}

.m0.m5 {
  border-bottom: 0.5rem solid #03DAC6;
}

.m0.m5.m6 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f5a0ff;
}

.m0.m5.m7 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #f5a0ff;
}

.m0.m6 {
  border-bottom: 0.5rem solid #03DAC6;
}

.m0.m6.m7 {
  border-bottom: 0.5rem solid #03DAC6;
  border-top: 0.5rem solid #a6ff22;
}

.m0.m7 {
  border-bottom: 0.5rem solid #03DAC6;
}

.th0 {
  background-color: #03DAC6 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m0 {
  color: #03DAC6 !important;
}

.m1 {
  background-color: #FCE938 !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #FCE938;
}

.m1.m2 {
  border-bottom: 0.5rem solid #FCE938;
}

.m1.m2.m3 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f14153;
}

.m1.m2.m4 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f14153;
}

.m1.m2.m5 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f14153;
}

.m1.m2.m6 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f14153;
}

.m1.m2.m7 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f14153;
}

.m1.m3 {
  border-bottom: 0.5rem solid #FCE938;
}

.m1.m3.m4 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #5a6afc;
}

.m1.m3.m5 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #5a6afc;
}

.m1.m3.m6 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #5a6afc;
}

.m1.m3.m7 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #5a6afc;
}

.m1.m4 {
  border-bottom: 0.5rem solid #FCE938;
}

.m1.m4.m5 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #20BA56;
}

.m1.m4.m6 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #20BA56;
}

.m1.m4.m7 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #20BA56;
}

.m1.m5 {
  border-bottom: 0.5rem solid #FCE938;
}

.m1.m5.m6 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f5a0ff;
}

.m1.m5.m7 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #f5a0ff;
}

.m1.m6 {
  border-bottom: 0.5rem solid #FCE938;
}

.m1.m6.m7 {
  border-bottom: 0.5rem solid #FCE938;
  border-top: 0.5rem solid #a6ff22;
}

.m1.m7 {
  border-bottom: 0.5rem solid #FCE938;
}

.th1 {
  background-color: #FCE938 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m1 {
  color: #FCE938 !important;
}

.m2 {
  background-color: #f14153 !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #f14153;
}

.m2.m3 {
  border-bottom: 0.5rem solid #f14153;
}

.m2.m3.m4 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #5a6afc;
}

.m2.m3.m5 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #5a6afc;
}

.m2.m3.m6 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #5a6afc;
}

.m2.m3.m7 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #5a6afc;
}

.m2.m4 {
  border-bottom: 0.5rem solid #f14153;
}

.m2.m4.m5 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #20BA56;
}

.m2.m4.m6 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #20BA56;
}

.m2.m4.m7 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #20BA56;
}

.m2.m5 {
  border-bottom: 0.5rem solid #f14153;
}

.m2.m5.m6 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #f5a0ff;
}

.m2.m5.m7 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #f5a0ff;
}

.m2.m6 {
  border-bottom: 0.5rem solid #f14153;
}

.m2.m6.m7 {
  border-bottom: 0.5rem solid #f14153;
  border-top: 0.5rem solid #a6ff22;
}

.m2.m7 {
  border-bottom: 0.5rem solid #f14153;
}

.th2 {
  background-color: #f14153 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m2 {
  color: #f14153 !important;
}

.m3 {
  background-color: #5a6afc !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #5a6afc;
}

.m3.m4 {
  border-bottom: 0.5rem solid #5a6afc;
}

.m3.m4.m5 {
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #20BA56;
}

.m3.m4.m6 {
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #20BA56;
}

.m3.m4.m7 {
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #20BA56;
}

.m3.m5 {
  border-bottom: 0.5rem solid #5a6afc;
}

.m3.m5.m6 {
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #f5a0ff;
}

.m3.m5.m7 {
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #f5a0ff;
}

.m3.m6 {
  border-bottom: 0.5rem solid #5a6afc;
}

.m3.m6.m7 {
  border-bottom: 0.5rem solid #5a6afc;
  border-top: 0.5rem solid #a6ff22;
}

.m3.m7 {
  border-bottom: 0.5rem solid #5a6afc;
}

.th3 {
  background-color: #5a6afc !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m3 {
  color: #5a6afc !important;
}

.m4 {
  background-color: #20BA56 !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #20BA56;
  border-top: 0.5rem solid #20BA56;
}

.m4.m5 {
  border-bottom: 0.5rem solid #20BA56;
}

.m4.m5.m6 {
  border-bottom: 0.5rem solid #20BA56;
  border-top: 0.5rem solid #f5a0ff;
}

.m4.m5.m7 {
  border-bottom: 0.5rem solid #20BA56;
  border-top: 0.5rem solid #f5a0ff;
}

.m4.m6 {
  border-bottom: 0.5rem solid #20BA56;
}

.m4.m6.m7 {
  border-bottom: 0.5rem solid #20BA56;
  border-top: 0.5rem solid #a6ff22;
}

.m4.m7 {
  border-bottom: 0.5rem solid #20BA56;
}

.th4 {
  background-color: #20BA56 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m4 {
  color: #20BA56 !important;
}

.m5 {
  background-color: #f5a0ff !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #f5a0ff;
  border-top: 0.5rem solid #f5a0ff;
}

.m5.m6 {
  border-bottom: 0.5rem solid #f5a0ff;
}

.m5.m6.m7 {
  border-bottom: 0.5rem solid #f5a0ff;
  border-top: 0.5rem solid #a6ff22;
}

.m5.m7 {
  border-bottom: 0.5rem solid #f5a0ff;
}

.th5 {
  background-color: #f5a0ff !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m5 {
  color: #f5a0ff !important;
}

.m6 {
  background-color: #a6ff22 !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #a6ff22;
  border-top: 0.5rem solid #a6ff22;
}

.m6.m7 {
  border-bottom: 0.5rem solid #a6ff22;
}

.th6 {
  background-color: #a6ff22 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m6 {
  color: #a6ff22 !important;
}

.m7 {
  background-color: #7f34f0 !important;
  color: black !important;
  padding: .15rem .1rem;
  border-bottom: 0.5rem solid #7f34f0;
  border-top: 0.5rem solid #7f34f0;
}

.th7 {
  background-color: #7f34f0 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m7 {
  color: #7f34f0 !important;
}

.mainContainer {
  padding: 96px 0;
}

.mainPaper {
  overflow: hidden;
}

.sectionTitle {
  color: black;
  background-color: #03DAC6;
  padding: .5rem 0 .5rem 1rem;
}

.CodeMirror {
  font-size: 22px;
}

.queryEditor .CodeMirror {
  overflow: hidden !important;
  height: auto;
  padding: .5rem 0;
  margin-left: .5rem;
  /*
    pre::after,
    pre::before {
      content: ".*";
      color: #888888;
    }
    */
}

#textEditor .CodeMirror {
  padding: .5rem 0;
  height: 300px;
}

#textEditor {
  height: 300px;
  position: relative;
}

.tableContainer {
  height: 300px;
}

.uploadButton {
  border-radius: 50% !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: unset !important;
  min-height: unset !important;
  position: absolute !important;
  z-index: 5000;
  bottom: 2rem;
  right: 2rem;
}

/* AboutInterface */
.appBar {
  background-color: #212121 !important;
}

.logo {
  display: block;
  height: 36px;
  margin-left: 1rem;
}

.paperLite {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 14px;
  width: 500px;
  margin: 2rem auto;
}

.paperLite .liteTab {
  text-transform: none;
  font-family: monospace;
}

.paperLite .queryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

.paperLite .CodeMirror {
  font-size: 14px;
  text-align: justify;
}

.paperLite .queryEditor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.paperLite .textEditor {
  height: 250px;
}

.paperLite .textEditor .CodeMirror {
  height: 250px;
  padding: .5rem 1rem;
}

.paperLite .results {
  padding: 1rem;
  height: 150px;
  overflow-y: scroll;
}

.paperLite .results .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.paperLite .results .list {
  width: 100%;
  table-layout: fixed;
  font-family: monospace;
}

.paperLite .results .list .resultRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paperLite .results .list .resultRow .resultItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sectionContainer {
  padding: .5rem 0;
}
/*# sourceMappingURL=App.css.map */