body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.m0 {
  background-color: #03DAC6 !important;
  color: black !important;
  padding: .25rem;
}

.th0 {
  background-color: #03DAC6 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m0 {
  color: #03DAC6 !important;
}

.m1 {
  background-color: #FCE938 !important;
  color: black !important;
  padding: .25rem;
}

.th1 {
  background-color: #FCE938 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m1 {
  color: #FCE938 !important;
}

.m2 {
  background-color: #d6515f !important;
  color: black !important;
  padding: .25rem;
}

.th2 {
  background-color: #d6515f !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m2 {
  color: #d6515f !important;
}

.m3 {
  background-color: #5a6afc !important;
  color: black !important;
  padding: .25rem;
}

.th3 {
  background-color: #5a6afc !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m3 {
  color: #5a6afc !important;
}

.m4 {
  background-color: #20BA56 !important;
  color: black !important;
  padding: .25rem;
}

.th4 {
  background-color: #20BA56 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m4 {
  color: #20BA56 !important;
}

.m5 {
  background-color: #eb34ff !important;
  color: black !important;
  padding: .25rem;
}

.th5 {
  background-color: #eb34ff !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m5 {
  color: #eb34ff !important;
}

.m6 {
  background-color: #a6ff22 !important;
  color: black !important;
  padding: .25rem;
}

.th6 {
  background-color: #a6ff22 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m6 {
  color: #a6ff22 !important;
}

.m7 {
  background-color: #7f34f0 !important;
  color: black !important;
  padding: .25rem;
}

.th7 {
  background-color: #7f34f0 !important;
  color: black !important;
  font-weight: bolder !important;
}

.cm-m7 {
  color: #7f34f0 !important;
}

.CodeMirror {
  font-size: 22px;
}

#queryEditor .CodeMirror {
  overflow: hidden !important;
  height: auto;
  padding: .5rem;
}

#queryEditor .CodeMirror pre::after, #queryEditor .CodeMirror pre::before {
  content: ".*";
  color: #888888;
}

#textEditor .CodeMirror {
  padding: .5rem 0;
  height: 30vh;
}

#textEditor {
  height: 30vh;
  position: relative;
}

.bottomContainer {
  height: 50vh;
}

.bottomContainer .resultContainer {
  overflow: auto;
}

.logo {
  display: block;
  margin: 1rem auto;
  height: 3rem;
}

.uploadButton {
  border-radius: 50% !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: unset !important;
  min-height: unset !important;
  position: absolute !important;
  z-index: 5000;
  bottom: 2rem;
  right: 2rem;
}
/*# sourceMappingURL=App.css.map */